<h1 class="microaggressionFormHeader"> Thanks! </h1>

<% if @micro.errors.any? %>
	<h1 class="error"> Hm...something wetn wrong</h1>
	<% @micro.errors.each do |err| %>
		<ul>
			<li><%= err %> </li>
		</ul>
	<% end %>
<% end %> 

<%= form_for @micro do |f| %>

	<%= f.label :location, "Location" %>
	<%= f.text_field :location %>

	<%= f.label :description, "Description" %>
	<%= f.text_field :description%>

	<%= f.label :aggressor, "Aggressor" %>
	<%= select("microaggression","aggressor", Microaggression::AGG, {include_blank:true}) %>

	<%= f.label :severity, "Severity" %>
	<%= select_tag "severity",options_for_select(1..5) %>

	<%= f.submit "Submit", class:"submitMicro" %>
<% end %>


